.app h1 {
  text-align: center;
}

.app select {
  font-size: 20px;
  min-width: 100px;
  padding: 12px 20px;
  margin: 0px 0 8px 10px;
  display: inline-block;
}

.app h2 {
  color: #606c76;
  padding-left: 10px;
}

.example {
  padding: 50px;
}
